@mixin simpleFlex($justify-content: unset, $align-items: unset) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flex($direction: unset, $wrap: wrap, $align-content: unset, $justify-content: unset, $align-items: unset) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-content: $align-content;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin container {
  max-width: 1110px;
  margin: 0 auto;
}

@mixin border-radius {
  border-radius: 50px;
}

@mixin transition {
  transition: all 0.6s ease;
}
